.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	background-color: #ffffff;
	background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Roboto", sans-serif;
	color: #333;
}

.App-header {
	text-align: center;
	background-color: #ffffff;
	background-image: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgel fHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.App-main {
	width: 80%;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
}

.App-footer {
	width: 100%;
	background-color: #ffffff;
	background-image: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgel fHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}

.footer-content a {
	color: #fff;
	text-decoration: none;
}

.footer-content a:hover {
	color: #ecf0f1;
}

/* Responsiveness */
@media (max-width: 768px) {
	.App {
		padding: 10px;
	}

	.App-main {
		width: 100%;
	}
}
